body {
 background-color: lightgray;
}
nav 
{background-color: lightgray;
}
body{

  background-color: lightgray;
}
h1 {
  color: blue;
  text-align: center;
}
div {
  width: 75%;
  float: right;
}
.something-awsome{
  color: white ;
 
}
#bikecollage{
  border-radius:90%;
}
legend	
{text-decoration-color: blue;
}