body {
 background-color: lightgray;
}
nav 
{background-color: lightgray;
}
body{

  background-color: lightgray;
}
h1 {
  color: white;
  text-align: left;
}
div {
  width: 75%;
  float: right;
}
.something-awsome{
  color:  Black;
}
#bikecollage{
  border-radius:70%;
}
legend	
{text-decoration-color: blue;
}